/* body {
    margin: 0;
} */

h1 {
    font-size: 40px;
    /* background-color: azure; */
    border: 1px solid black;
    line-height: 200%;
}

h2 {
    font-size: 2em;
}

article {
    font-size: 20px;
}

p {
    font-size: 0.5em;
}

button {
    font-size: 1em;
    padding: 0 1em;
    border-radius: 0.5em;
    background-color: darkslategrey;
    color: aliceblue;
}

span {
    background-color: blanchedalmond;
    border: 1px solid black;
    /* display: block; */
}

section {
    background-color: cadetblue;
    width: 800px;
    height: 800px;
}

div {
    background-color: cyan;
    width: 50%;
    height: 50%;
}