/* body {
    margin: 0;
} */

h1 {
    font-size: 40px;
    /* background-color: azure; */
    border: 1px solid black;
    line-height: 200%;
}

span {
    background-color: blanchedalmond;
    border: 1px solid black;
    /* display: block; */
}

section {
    background-color: cadetblue;
    width: 800px;
    height: 800px;
}

div {
    background-color: cyan;
    width: 50%;
    height: 50%;
}